<a href="https://colab.research.google.com/github/AyhanKaragozoglu/Teamworkshop/blob/main/Teamwork_Schedule5_25_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count, fruit, price = (2, 'apple', 3.5)

In [ ]:
def printMax(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [ ]:
x = 50
def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)
func(x)
print('x is now', x)

x is 50
Changed local x to 2
x is now 50

In [ ]:
def function1(var1=5, var2=7):
    var2=9
    var1=3
    print (var1, " ", var2)
function1(10,12)

3   9

In [ ]:
def san(x):
    print(x+1)
x=-2
x=4
san(12)

13

In [ ]:
def foo(fname, val):
    print(fname(val))
foo(max, [1, 2, 3])
foo(min, [1, 2, 3])

3
1

In [ ]:

f=lambda x:bool(x%2)
print(f(20), f(21))

False True

In [ ]:
import random
random.randrange(0,91,5)

0

In [ ]:
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)

2

In [ ]:
def f(x, y, z): return x + y + z
print(f(2, 30, 400))

432

In [ ]:
print({a**2 for a in range(4)})

{0, 1, 4, 9}

In [ ]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
# Desired output
[('Apples', 5, 1.50),
('Oranges', 3, 2.25),
('Bananas', 4, 0.89)]

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
tuple(fruits)

('Apples', 'Oranges', 'Bananas')

In [ ]:
fruits = {'Apples', 'Oranges', 'Bananas'}
tuple(fruits)

('Apples', 'Bananas', 'Oranges')